/* General Styling */
body {
   font-family: Arial, sans-serif;
   background-color: #f0f4f7;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.container {
   display: flex;
   flex-direction: column;
   width: 90%; /* Default for mobile */
   max-width: 400px; /* Limit size for larger screens */
   margin: 20px auto;
   padding: 20px;
   background-color: #ffffff;
   box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
}

header {
   font-size: 24px;
   color: #2c3e50;
   margin-bottom: 20px;
   text-align: center;
}

.description {
   font-size: 14px;
   color: #7f8c8d;
   margin-bottom: 20px;
   text-align: center;
}

label {
   font-size: 16px;
   color: #34495e;
   margin-bottom: 10px;
   display: block;
}

input {
   width: 93%;
   padding: 12px;
   margin-bottom: 15px;
   border-radius: 5px;
   border: 1px solid #bdc3c7;
   font-size: 14px;
}

input:focus {
   border-color: #3498db;
   box-shadow: 0px 0px 5px rgba(52, 152, 219, 0.5);
   outline: none;
}

.check-btn {
   background-color: #3498db;
   color: white;
   border: none;
   padding: 10px;
   border-radius: 5px;
   font-size: 16px;
   cursor: pointer;
   transition: background-color 0.3s ease;
   width: 100%;
}

.check-btn:hover {
   background-color: #2980b9;
}

#error {
   color: #e74c3c;
   font-size: 14px;
   margin-bottom: 20px;
   display: none;
}

.table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 20px;
}

.table caption {
   font-size: 18px;
   color: #2c3e50;
   margin-bottom: 10px;
   text-align: center;
}

.table th,
.table td {
   padding: 10px;
   text-align: center;
   border: 1px solid #ecf0f1;
   font-size: 14px;
}

.table th {
   background-color: #34495e;
   color: white;
}

.table td {
   background-color: #ecf0f1;
}

.table td.no-of-notes {
   font-weight: bold;
}

/* Responsive Styling */
@media (max-width: 480px) {
   .container {
       padding: 15px;
   }

   header {
       font-size: 20px;
   }

   .description {
       font-size: 12px;
   }

   input, .check-btn {
       font-size: 14px;
   }
}
